# Environment variables for development and production
NODE_ENV=development

# Server and client configuration
SERVER_PORT=
CLIENT_PORT=

# Database configuration
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Cors configuration
CORS_ORIGINS=

# JWT and security configuration
SECRET=
SALT_ROUNDS=

# DockerHub configutation
DOCKERHUB_USERNAME=